@use "variables" as v;

footer {
    background-color: v.$color-footer;
    color: v.$color-blanco;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}