@use "variables" as v;

.mi-navbar {
    background-color: v.$color-navbar;

    .nav-link, .mi-brand {
        color: v.$color-blanco !important;
        transition: color 0.3s;
        
        &:hover {
            color: v.$color-primario !important;
        }
    }
}