@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Rubik+Dirt&display=swap');

body { font-family: 'Fredericka the Great'; margin: 0; background-image: url("../img/fondo.jpg"); background-position: center; color: white; 
    background-repeat: no-repeat; background-size: cover; display: flex; flex-direction: column; min-height: 100vh; }

/* Nav */

nav ul { list-style: none; padding: 0; }
nav ul li { display: inline; margin-right: 15px; }
nav ul li a { color: white; text-decoration: none; }

/* Footer */

footer {text-align: center; padding: 1em; background-color: rgba(0, 0, 0, 0.6);}

/* Main */
main { padding: 2em; flex: 1; }
img { max-width: 19%; height: auto; }
